<!DOCTYPE html>
<html>
	<head>
		<title>My</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<link
			href="https://proxy.goorm.io/ovenapp/static/package/view.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://proxy.goorm.io/ovenapp/static/package/view-resource.min.js"></script>
		<script>
			screenWidth = 360;
			screenHeight = 600;
			projectId = "MeAQ6vRdVc6yxBChlSVk8ARIU0zUVZlT";
			sequenceId = "Adom2";
		</script>
		<style>
			body {
				margin: 0;
				padding: 0;
			}

			#webView {
				overflow: hidden;
				position: relative;
				background: #ffffff;
				width: 360px;
				height: 600px;
				margin: 0 auto;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}

			#webView[data-show-memo="true"] {
				overflow: visible;
			}

			[data-text-content] {
				white-space: normal;
			}
		</style>
	</head>

	<body data-locale="ko">
		<div
			id="webView"
			data-canvas="true"
			data-show-memo="false"
			data-show-link="false"
			title="페이지에 링크가 연결된 객체가 있을 경우 화면을 터치/클릭하면 표시됩니다."
		>
			<div
				data-obj-type="group"
				data-obj-id="sqopB"
				class=""
				style="
					position: absolute;
					left: 0.164917px;
					top: 532.995px;
					width: 360px;
					height: 71px;
				"
				><div
					data-obj-id="SonnA"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 6.352px; left: 0px; width: 360px; height: 60px;"
					><div
						data-text-content="true"
						style="background-color: rgb(52, 152, 219); color: rgb(94, 94, 94);"
					></div></div
				><div
					data-obj-id="Wvm40"
					data-obj-type="icon"
					class=""
					style="
						position: absolute;
						top: 0px;
						left: 148.835px;
						width: 73px;
						height: 71px;
					"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="#000000"
						data-svg-content="true"
					>
						<g>
							<path
								d="M 16,4C 9.372,4, 4,9.372, 4,16s 5.372,12, 12,12s 12-5.372, 12-12S 22.628,4, 16,4z M 16,26c-5.514,0-10-4.486-10-10s 4.486-10, 10-10 s 10,4.486, 10,10S 21.514,26, 16,26zM 10,16A6,6 1080 1 0 22,16A6,6 1080 1 0 10,16z"
							></path>
						</g></svg></div
				><div
					data-obj-id="TrqJC"
					data-obj-type="icon"
					class=""
					style="
						position: absolute;
						top: 11.347px;
						left: 43.8351px;
						width: 46px;
						height: 50px;
					"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="#000000"
					>
						<path
							d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 6c3.31 0 6 2.69 6 6 0 3.32-2.69 6-6 6s-6-2.68-6-6c0-3.31 2.69-6 6-6zm0 28.4c-5.01 0-9.41-2.56-12-6.44.05-3.97 8.01-6.16 12-6.16s11.94 2.19 12 6.16c-2.59 3.88-6.99 6.44-12 6.44z"
						></path></svg></div
				><div
					data-obj-id="AHnTe"
					data-obj-type="icon"
					class=""
					style="
						position: absolute;
						top: 13.005px;
						left: 274.835px;
						width: 45px;
						height: 45px;
					"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="#000000"
					>
						<path
							d="M38.86 25.95c.08-.64.14-1.29.14-1.95s-.06-1.31-.14-1.95l4.23-3.31c.38-.3.49-.84.24-1.28l-4-6.93c-.25-.43-.77-.61-1.22-.43l-4.98 2.01c-1.03-.79-2.16-1.46-3.38-1.97L29 4.84c-.09-.47-.5-.84-1-.84h-8c-.5 0-.91.37-.99.84l-.75 5.3c-1.22.51-2.35 1.17-3.38 1.97L9.9 10.1c-.45-.17-.97 0-1.22.43l-4 6.93c-.25.43-.14.97.24 1.28l4.22 3.31C9.06 22.69 9 23.34 9 24s.06 1.31.14 1.95l-4.22 3.31c-.38.3-.49.84-.24 1.28l4 6.93c.25.43.77.61 1.22.43l4.98-2.01c1.03.79 2.16 1.46 3.38 1.97l.75 5.3c.08.47.49.84.99.84h8c.5 0 .91-.37.99-.84l.75-5.3c1.22-.51 2.35-1.17 3.38-1.97l4.98 2.01c.45.17.97 0 1.22-.43l4-6.93c.25-.43.14-.97-.24-1.28l-4.22-3.31zM24 31c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"
						></path></svg></div></div
			><div
				data-obj-id="Lmx58"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 36px; left: 12.7552px; width: 155px; height: 33px;"
				><div data-text-content="true" style="font-weight: bold; font-size: 22px;" class=""
					>인스턴트 프렌즈</div
				></div
			><div
				data-obj-id="9Q6qP"
				data-obj-type="image"
				class=""
				style="
					position: absolute;
					top: 23.0069px;
					left: 167.745px;
					width: 58px;
					height: 66px;
				"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/imagefarm/101017120/GXSgrtuw2XV82QtXdM0waoCHhIBAQeIB);
					"
				></div></div
			><div
				data-obj-id="vQgmr"
				data-obj-type="group"
				class=""
				style="
					position: absolute;
					top: -0.00694275px;
					left: 0.00170898px;
					width: 360px;
					height: 24px;
				"
				><div
					data-obj-id="H5qQs"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 0px; left: 0px; width: 360px; height: 24px;"
					><div
						data-text-content="true"
						style="color: rgb(0, 0, 0); background-color: rgb(34, 39, 43);"
					></div></div
				><div
					data-obj-id="hyO2Z"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 7px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z"
						></path></svg></div
				><div
					data-obj-id="wO1PH"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 29px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"
						></path></svg></div
				><div
					data-obj-id="Qgtmd"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 261px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="26"
						height="24"
						viewBox="0 0 26 24"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M13.01 21.99l9.43-11.75C22.07 9.97 18.44 7 13 7c-5.44 0-9.07 2.97-9.44 3.24l9.43 11.75h.02z"
						></path>
						<path
							fill-opacity=".3"
							d="M13.01 21.99L25.58 6.32C25.1 5.96 20.26 2 13 2S.9 5.96.42 6.32l12.57 15.66.01.02.01-.01z"
						></path></svg></div
				><div
					data-obj-id="z1vev"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 277px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path fill-opacity=".3" d="M4 44h40V4z"></path>
						<path d="M34 14L4 44h30z"></path></svg></div
				><div
					data-obj-id="OZazb"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 297px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(46, 204, 113)"
					>
						<path
							d="M31.33 8H28V4h-8v4h-3.33C15.19 8 14 9.19 14 10.67v30.67c0 1.47 1.19 2.67 2.67 2.67h14.67c1.47 0 2.67-1.19 2.67-2.67V10.67C34 9.19 32.81 8 31.33 8z"
						></path></svg></div
				><div
					data-obj-id="xqQLb"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 2px; left: 313px; width: 44px; height: 20px;"
					><div
						data-text-content="true"
						style="
							font-size: 13px;
							color: rgb(255, 255, 255);
							text-align: center;
							line-height: 1.6em;
						"
						class=""
						>10:56</div
					></div
				></div
			><div
				data-obj-id="YG19e"
				data-obj-type="element"
				data-memo-content="true"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 38.0017px; left: 377px; width: 144px; height: 42px;"
				><div
					data-text-content="true"
					data-memo-content="true"
					style="
						box-shadow: rgba(0, 0, 0, 0.290196) 4px 4px 8px 0px;
						background-color: rgb(255, 235, 152);
					"
					class=""
					><span style="font-style: italic;">위 배너는 100까지</span
					><div><span style="font-style: italic;">아래 칸은 110부터 사용</span></div></div
				></div
			><div
				data-obj-id="CC7nN"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 205.964px;
					left: 1.05035px;
					width: 359px;
					height: 46px;
				"
				><div
					data-text-content="true"
					style="background-color: rgb(255, 255, 255); color: rgb(94, 94, 94);"
				></div></div
			><div
				data-obj-id="i28hG"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 185.26px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="mqygP"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 128.967px;
					left: 0.989594px;
					width: 359px;
					height: 46px;
				"
				><div
					data-text-content="true"
					style="
						background-color: rgb(255, 255, 255);
						color: rgb(94, 94, 94);
						line-height: 1.5em;
					"
				></div></div
			><div
				data-obj-id="yppmB"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 141.137px;
					left: 12.7517px;
					width: 243px;
					height: 48px;
				"
				><div data-text-content="true" style="font-weight: bold; font-size: 17px;" class=""
					>공강시간에 같이 공부해요~</div
				></div
			><div
				data-obj-id="QQPxb"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 167.674px;
					left: 12.7517px;
					width: 241px;
					height: 19px;
				"
				><div data-text-content="true" style="font-weight: bold; font-size: 12px;" class=""
					>서울 종로구 혜화동</div
				> </div
			><div
				data-obj-id="Pj0Do"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 142.127px;
					left: 257.101px;
					width: 54px;
					height: 20px;
				"
				><div
					data-text-content="true"
					style="
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
						border-bottom-right-radius: 30px;
						border-bottom-left-radius: 30px;
						text-align: center;
						line-height: 20px;
						color: rgb(255, 255, 255);
						font-size: 12px;
						box-shadow: none;
						background-color: rgb(26, 188, 156);
					"
					class=""
					>모집중</div
				></div
			><div
				data-obj-id="SV4uQ"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 142.969px;
					left: 319.002px;
					width: 31px;
					height: 19px;
				"
				><div data-text-content="true" style="font-weight: bold; font-size: 13px;" class=""
					>3/4</div
				> </div
			><div
				data-obj-id="Ycs70"
				data-obj-type="icon"
				class=""
				style="
					position: absolute;
					top: 166.971px;
					left: 288.941px;
					width: 23px;
					height: 14px;
				"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Layer_1"
					x="0px"
					y="0px"
					width="30px"
					height="32px"
					viewBox="0 0 30 32"
					enable-background="new 0 0 30 32"
					xml:space="preserve"
					data-svg-content="true"
					fill="#000000"
				>
					<g>
						<path
							fill="#828282"
							d="M15,2C7.28,2,1,8.28,1,16s6.28,14,14,14s14-6.28,14-14S22.72,2,15,2z M15,29C7.832,29,2,23.168,2,16   S7.832,3,15,3s13,5.832,13,13S22.168,29,15,29z"
						></path>
						<path
							fill="#828282"
							d="M7.5,0C3.364,0,0,3.364,0,7.5v1.062c0,0.276,0.224,0.5,0.5,0.5S1,8.839,1,8.562V7.5C1,3.916,3.916,1,7.5,1   h0.875c0.276,0,0.5-0.224,0.5-0.5S8.651,0,8.375,0H7.5z"
						></path>
						<path
							fill="#828282"
							d="M22.375,0H21.5C21.224,0,21,0.224,21,0.5S21.224,1,21.5,1h0.875c3.584,0,6.5,2.916,6.5,6.5v1.062   c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V7.5C29.875,3.364,26.511,0,22.375,0z"
						></path>
						<path
							fill="#828282"
							d="M15,16.293V9.319c0-0.276-0.224-0.5-0.5-0.5S14,9.043,14,9.319V16.5c0,0.133,0.053,0.26,0.146,0.354   l4.914,4.914c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L15,16.293z"
						></path>
						<path
							fill="#828282"
							d="M1.9,31.8l3-4c0.165-0.221,0.12-0.534-0.101-0.7c-0.22-0.164-0.533-0.12-0.7,0.101l-3,4   c-0.165,0.221-0.12,0.534,0.101,0.7C1.29,31.968,1.396,32,1.5,32C1.651,32,1.802,31.931,1.9,31.8z"
						></path>
						<path
							fill="#828282"
							d="M25.9,27.2c-0.167-0.222-0.479-0.265-0.7-0.101c-0.221,0.166-0.266,0.479-0.101,0.7l3,4   c0.099,0.131,0.249,0.2,0.4,0.2c0.104,0,0.21-0.032,0.3-0.1c0.221-0.166,0.266-0.479,0.101-0.7L25.9,27.2z"
						></path>
					</g></svg></div
			><div
				data-obj-id="CvuM0"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 166.788px;
					left: 312.943px;
					width: 31px;
					height: 36px;
				"
				><div data-text-content="true" style="font-weight: bold; font-size: 13px;" class=""
					>15분</div
				> </div
			><div
				data-obj-id="v1riZ"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 203.958px;
					left: 12.7517px;
					width: 243px;
					height: 48px;
				"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 17px; color: rgb(190, 190, 190);"
					class=""
					>모의면접 스터디원 구합니다</div
				></div
			><div
				data-obj-id="cUCWl"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 233.967px;
					left: 11.9879px;
					width: 241px;
					height: 19px;
				"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 12px; color: rgb(190, 190, 190);"
					class=""
					>서울 종로구 혜화동</div
				> </div
			><div
				data-obj-id="SXThb"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 206.971px;
					left: 257.995px;
					width: 54px;
					height: 20px;
				"
				><div
					data-text-content="true"
					style="
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
						border-bottom-right-radius: 30px;
						border-bottom-left-radius: 30px;
						text-align: center;
						line-height: 20px;
						color: rgb(255, 255, 255);
						font-size: 12px;
						box-shadow: none;
						background-color: rgb(26, 188, 156);
					"
					class=""
					>모집마감</div
				></div
			><div
				data-obj-id="37EiI"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 207.969px; left: 320px; width: 31px; height: 19px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(190, 190, 190);"
					class=""
					>5/5</div
				> </div
			><div
				data-obj-id="nm3pA"
				data-obj-type="icon"
				class=""
				style="
					position: absolute;
					top: 231.971px;
					left: 288.984px;
					width: 23px;
					height: 14px;
				"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Layer_1"
					x="0px"
					y="0px"
					width="30px"
					height="32px"
					viewBox="0 0 30 32"
					enable-background="new 0 0 30 32"
					xml:space="preserve"
					data-svg-content="true"
					fill="#000000"
				>
					<g>
						<path
							fill="#828282"
							d="M15,2C7.28,2,1,8.28,1,16s6.28,14,14,14s14-6.28,14-14S22.72,2,15,2z M15,29C7.832,29,2,23.168,2,16   S7.832,3,15,3s13,5.832,13,13S22.168,29,15,29z"
						></path>
						<path
							fill="#828282"
							d="M7.5,0C3.364,0,0,3.364,0,7.5v1.062c0,0.276,0.224,0.5,0.5,0.5S1,8.839,1,8.562V7.5C1,3.916,3.916,1,7.5,1   h0.875c0.276,0,0.5-0.224,0.5-0.5S8.651,0,8.375,0H7.5z"
						></path>
						<path
							fill="#828282"
							d="M22.375,0H21.5C21.224,0,21,0.224,21,0.5S21.224,1,21.5,1h0.875c3.584,0,6.5,2.916,6.5,6.5v1.062   c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V7.5C29.875,3.364,26.511,0,22.375,0z"
						></path>
						<path
							fill="#828282"
							d="M15,16.293V9.319c0-0.276-0.224-0.5-0.5-0.5S14,9.043,14,9.319V16.5c0,0.133,0.053,0.26,0.146,0.354   l4.914,4.914c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L15,16.293z"
						></path>
						<path
							fill="#828282"
							d="M1.9,31.8l3-4c0.165-0.221,0.12-0.534-0.101-0.7c-0.22-0.164-0.533-0.12-0.7,0.101l-3,4   c-0.165,0.221-0.12,0.534,0.101,0.7C1.29,31.968,1.396,32,1.5,32C1.651,32,1.802,31.931,1.9,31.8z"
						></path>
						<path
							fill="#828282"
							d="M25.9,27.2c-0.167-0.222-0.479-0.265-0.7-0.101c-0.221,0.166-0.266,0.479-0.101,0.7l3,4   c0.099,0.131,0.249,0.2,0.4,0.2c0.104,0,0.21-0.032,0.3-0.1c0.221-0.166,0.266-0.479,0.101-0.7L25.9,27.2z"
						></path>
					</g></svg></div
			><div
				data-obj-id="DD90W"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 230.972px;
					left: 312.995px;
					width: 31px;
					height: 36px;
				"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(190, 190, 190);"
					class=""
					>32분</div
				> </div
			><div
				data-obj-id="KOEBh"
				data-obj-type="element"
				class=""
				style="
					position: absolute;
					top: 136.971px;
					left: 11.9879px;
					width: 335px;
					height: 51px;
				"
				data-link-to="page:TIPve"
				><div data-image-content="true" data-invisible-link="true"></div></div
			><div
				data-obj-id="lk8ZE"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 251.962px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="SvZkI"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 115.986px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="GenGj"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 68.0052px;
					left: 273.257px;
					width: 76px;
					height: 30px;
				"
				><div
					data-text-content="true"
					style="
						font-size: 15px;
						color: rgb(255, 255, 255);
						text-align: center;
						line-height: 2em;
						border-radius: 4px;
						background-color: rgb(52, 152, 219);
					"
					class=""
					>편집</div
				></div
			><div
				data-obj-id="5DGnP"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 109px; left: -1px; width: 361px; height: 17px;"
				><div
					data-text-content="true"
					style="background-color: rgb(224, 224, 224);"
				></div></div
			><div
				data-obj-id="0wpth"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 104.462px;
					left: 13.4983px;
					width: 243px;
					height: 24px;
				"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 17px; color: rgb(190, 190, 190);"
					class=""
					><span style="color: rgb(33, 33, 33); font-size: small;"
						>내가 조인한 팟</span
					></div
				></div
			><div
				data-obj-id="H2OT9"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 416px; left: 1px; width: 359px; height: 126px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/wireframe.svg);
					"
				></div></div
			><div
				data-obj-id="GzcvY"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 458.995px;
					left: 148.241px;
					width: 77px;
					height: 54px;
				"
				><div data-text-content="true" style="font-weight: bold; font-size: 36px;" class=""
					>광고</div
				></div
			><div
				data-obj-id="PiCiQ"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 404.844px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="N6JDI"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 267px; left: 1.45834px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="klccG"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 262.795px;
					left: 0.442719px;
					width: 361px;
					height: 17px;
				"
				><div
					data-text-content="true"
					style="background-color: rgb(224, 224, 224);"
				></div></div
			><div
				data-obj-id="d5seJ"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 257.795px;
					left: 14.3924px;
					width: 243px;
					height: 24px;
				"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 17px; color: rgb(190, 190, 190);"
					class=""
					><span style="color: rgb(33, 33, 33); font-size: small;"
						>내가 관심있는 팟</span
					></div
				></div
			><div
				data-obj-id="hayyu"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 289px; left: 1px; width: 358px; height: 46px;"
				><div
					data-text-content="true"
					style="background-color: rgb(255, 255, 255); color: rgb(94, 94, 94);"
				></div></div
			><div
				data-obj-id="kA1r2"
				data-obj-type="element"
				class=""
				style="
					position: absolute;
					top: 270px;
					left: 0.677094px;
					width: 360px;
					height: 20px;
				"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="KG8x6"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 354px; left: 2.02258px; width: 358px; height: 46px;"
				><div
					data-text-content="true"
					style="background-color: rgb(255, 255, 255); color: rgb(94, 94, 94);"
				></div></div
			><div
				data-obj-id="kMe4F"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 335px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="N2pTb"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 287px; left: 12.7118px; width: 243px; height: 48px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 17px; color: rgb(64, 64, 64);"
					class=""
					>1시 점심팟</div
				></div
			><div
				data-obj-id="bGlnX"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 316px; left: 13.4115px; width: 241px; height: 19px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 12px; color: rgb(64, 64, 64);"
					class=""
					>서울 종로구 혜화동</div
				> </div
			><div
				data-obj-id="InJhJ"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 290px; left: 321.406px; width: 31px; height: 19px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(64, 64, 64);"
					class=""
					>2/5</div
				> </div
			><div
				data-obj-id="MJweX"
				data-obj-type="icon"
				class=""
				style="position: absolute; top: 314px; left: 289px; width: 23px; height: 14px;"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Layer_1"
					x="0px"
					y="0px"
					width="30px"
					height="32px"
					viewBox="0 0 30 32"
					enable-background="new 0 0 30 32"
					xml:space="preserve"
					data-svg-content="true"
					fill="#000000"
				>
					<g>
						<path
							fill="#828282"
							d="M15,2C7.28,2,1,8.28,1,16s6.28,14,14,14s14-6.28,14-14S22.72,2,15,2z M15,29C7.832,29,2,23.168,2,16   S7.832,3,15,3s13,5.832,13,13S22.168,29,15,29z"
						></path>
						<path
							fill="#828282"
							d="M7.5,0C3.364,0,0,3.364,0,7.5v1.062c0,0.276,0.224,0.5,0.5,0.5S1,8.839,1,8.562V7.5C1,3.916,3.916,1,7.5,1   h0.875c0.276,0,0.5-0.224,0.5-0.5S8.651,0,8.375,0H7.5z"
						></path>
						<path
							fill="#828282"
							d="M22.375,0H21.5C21.224,0,21,0.224,21,0.5S21.224,1,21.5,1h0.875c3.584,0,6.5,2.916,6.5,6.5v1.062   c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V7.5C29.875,3.364,26.511,0,22.375,0z"
						></path>
						<path
							fill="#828282"
							d="M15,16.293V9.319c0-0.276-0.224-0.5-0.5-0.5S14,9.043,14,9.319V16.5c0,0.133,0.053,0.26,0.146,0.354   l4.914,4.914c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L15,16.293z"
						></path>
						<path
							fill="#828282"
							d="M1.9,31.8l3-4c0.165-0.221,0.12-0.534-0.101-0.7c-0.22-0.164-0.533-0.12-0.7,0.101l-3,4   c-0.165,0.221-0.12,0.534,0.101,0.7C1.29,31.968,1.396,32,1.5,32C1.651,32,1.802,31.931,1.9,31.8z"
						></path>
						<path
							fill="#828282"
							d="M25.9,27.2c-0.167-0.222-0.479-0.265-0.7-0.101c-0.221,0.166-0.266,0.479-0.101,0.7l3,4   c0.099,0.131,0.249,0.2,0.4,0.2c0.104,0,0.21-0.032,0.3-0.1c0.221-0.166,0.266-0.479,0.101-0.7L25.9,27.2z"
						></path>
					</g></svg></div
			><div
				data-obj-id="jQIt2"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 313px; left: 314px; width: 31px; height: 36px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(64, 64, 64);"
					class=""
					>40분</div
				> </div
			><div
				data-obj-id="gTqyF"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 290px; left: 258.385px; width: 54px; height: 20px;"
				><div
					data-text-content="true"
					style="
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
						border-bottom-right-radius: 30px;
						border-bottom-left-radius: 30px;
						text-align: center;
						line-height: 20px;
						color: rgb(255, 255, 255);
						font-size: 12px;
						box-shadow: none;
						background-color: rgb(26, 188, 156);
					"
					class=""
					>모집중</div
				></div
			><div
				data-obj-id="ubiVL"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 352px; left: 13.4115px; width: 243px; height: 48px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 17px; color: rgb(64, 64, 64);"
					class=""
					spellcheck="false"
					>오늘 혜화에서 술마실 분</div
				></div
			><div
				data-obj-id="x83Gn"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 383px; left: 13.3333px; width: 241px; height: 19px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 12px; color: rgb(64, 64, 64);"
					class=""
					>서울 종로구 혜화동</div
				> </div
			><div
				data-obj-id="OJQsL"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 357px; left: 321.406px; width: 31px; height: 19px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(64, 64, 64);"
					class=""
					>1/4</div
				> </div
			><div
				data-obj-id="yUBu4"
				data-obj-type="icon"
				class=""
				style="position: absolute; top: 381px; left: 290.365px; width: 23px; height: 14px;"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Layer_1"
					x="0px"
					y="0px"
					width="30px"
					height="32px"
					viewBox="0 0 30 32"
					enable-background="new 0 0 30 32"
					xml:space="preserve"
					data-svg-content="true"
					fill="#000000"
				>
					<g>
						<path
							fill="#828282"
							d="M15,2C7.28,2,1,8.28,1,16s6.28,14,14,14s14-6.28,14-14S22.72,2,15,2z M15,29C7.832,29,2,23.168,2,16   S7.832,3,15,3s13,5.832,13,13S22.168,29,15,29z"
						></path>
						<path
							fill="#828282"
							d="M7.5,0C3.364,0,0,3.364,0,7.5v1.062c0,0.276,0.224,0.5,0.5,0.5S1,8.839,1,8.562V7.5C1,3.916,3.916,1,7.5,1   h0.875c0.276,0,0.5-0.224,0.5-0.5S8.651,0,8.375,0H7.5z"
						></path>
						<path
							fill="#828282"
							d="M22.375,0H21.5C21.224,0,21,0.224,21,0.5S21.224,1,21.5,1h0.875c3.584,0,6.5,2.916,6.5,6.5v1.062   c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V7.5C29.875,3.364,26.511,0,22.375,0z"
						></path>
						<path
							fill="#828282"
							d="M15,16.293V9.319c0-0.276-0.224-0.5-0.5-0.5S14,9.043,14,9.319V16.5c0,0.133,0.053,0.26,0.146,0.354   l4.914,4.914c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L15,16.293z"
						></path>
						<path
							fill="#828282"
							d="M1.9,31.8l3-4c0.165-0.221,0.12-0.534-0.101-0.7c-0.22-0.164-0.533-0.12-0.7,0.101l-3,4   c-0.165,0.221-0.12,0.534,0.101,0.7C1.29,31.968,1.396,32,1.5,32C1.651,32,1.802,31.931,1.9,31.8z"
						></path>
						<path
							fill="#828282"
							d="M25.9,27.2c-0.167-0.222-0.479-0.265-0.7-0.101c-0.221,0.166-0.266,0.479-0.101,0.7l3,4   c0.099,0.131,0.249,0.2,0.4,0.2c0.104,0,0.21-0.032,0.3-0.1c0.221-0.166,0.266-0.479,0.101-0.7L25.9,27.2z"
						></path>
					</g></svg></div
			><div
				data-obj-id="LYLnP"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 380px; left: 315.686px; width: 31px; height: 36px;"
				><div
					data-text-content="true"
					style="font-weight: bold; font-size: 13px; color: rgb(64, 64, 64);"
					class=""
					>58분</div
				> </div
			><div
				data-obj-id="6wYTO"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 357px; left: 258.359px; width: 54px; height: 20px;"
				><div
					data-text-content="true"
					style="
						border-top-left-radius: 30px;
						border-top-right-radius: 30px;
						border-bottom-right-radius: 30px;
						border-bottom-left-radius: 30px;
						text-align: center;
						line-height: 20px;
						color: rgb(255, 255, 255);
						font-size: 12px;
						box-shadow: none;
						background-color: rgb(26, 188, 156);
					"
					class=""
					>모집중</div
				></div
			><div
				data-obj-id="YM78U"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 99.9965px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="hafut"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 537px; left: 145px; width: 80px; height: 63px;"
				data-link-to="page:XVo6Q"
				><div
					data-image-content="true"
					data-invisible-link="true"
					style="border-radius: 100%;"
				></div></div
			><div
				data-obj-id="bgJoR"
				data-obj-type="element"
				class=""
				style="
					position: absolute;
					top: 537.003px;
					left: 257.101px;
					width: 80px;
					height: 63px;
				"
				data-link-to="page:5X5dK"
				><div
					data-image-content="true"
					data-invisible-link="true"
					style="border-radius: 100%;"
				></div></div
			><div
				data-obj-id="qinGv"
				data-obj-type="element"
				data-memo-content="true"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 180.491px;
					left: -219px;
					width: 161px;
					height: 75px;
				"
				><div
					data-text-content="true"
					data-memo-content="true"
					style="
						box-shadow: rgba(0, 0, 0, 0.290196) 4px 4px 8px 0px;
						background-color: rgb(255, 235, 152);
					"
					class=""
					spellcheck="false"
					><span style="font-style: italic;"
						>여기(My)서 채팅방 클릭 후 뒤로가기 버튼 누르면 다시 My화면으로 돌아오기
						기능 구현 필요</span
					></div
				></div
			>
		</div>
		<script>
			var _tiq = "undefined" !== typeof _tiq ? _tiq : [];
			_tiq.push(["__setPageName", "webview"]);
			_tiq.push(["__trackPageview"]);
			(function (d) {
				var se = d.createElement("script");
				se.type = "text/javascript";
				se.async = true;
				se.src = location.protocol + "//m1.daumcdn.net/tiara/js/td.min.js";
				var s = d.getElementsByTagName("head")[0];
				s.appendChild(se);
			})(document);
		</script>
	</body>
</html>

