<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<link
			href="https://proxy.goorm.io/ovenapp/static/package/view.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://proxy.goorm.io/ovenapp/static/package/view-resource.min.js"></script>
		<script>
			screenWidth = 360;
			screenHeight = 600;
			projectId = "MeAQ6vRdVc6yxBChlSVk8ARIU0zUVZlT";
			sequenceId = "NVLn2";
		</script>
		<style>
			body {
				margin: 0;
				padding: 0;
			}

			#webView {
				overflow: hidden;
				position: relative;
				background: #ffffff;
				width: 360px;
				height: 600px;
				margin: 0 auto;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}

			#webView[data-show-memo="true"] {
				overflow: visible;
			}

			[data-text-content] {
				white-space: normal;
			}
		</style>
	</head>

	<body data-locale="ko">
		<div
			id="webView"
			data-canvas="true"
			data-show-memo="false"
			data-show-link="false"
			title="페이지에 링크가 연결된 객체가 있을 경우 화면을 터치/클릭하면 표시됩니다."
		>
			<div
				data-obj-id="PQMT1"
				data-obj-type="group"
				class=""
				style="
					position: absolute;
					top: -0.00694275px;
					left: 0.00170898px;
					width: 360px;
					height: 24px;
				"
				><div
					data-obj-id="fxMzZ"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 0px; left: 0px; width: 360px; height: 24px;"
					><div
						data-text-content="true"
						style="color: rgb(0, 0, 0); background-color: rgb(34, 39, 43);"
					></div></div
				><div
					data-obj-id="5bitI"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 7px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z"
						></path></svg></div
				><div
					data-obj-id="qdCxk"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 29px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z"
						></path></svg></div
				><div
					data-obj-id="ov2Sh"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 261px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="26"
						height="24"
						viewBox="0 0 26 24"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path
							d="M13.01 21.99l9.43-11.75C22.07 9.97 18.44 7 13 7c-5.44 0-9.07 2.97-9.44 3.24l9.43 11.75h.02z"
						></path>
						<path
							fill-opacity=".3"
							d="M13.01 21.99L25.58 6.32C25.1 5.96 20.26 2 13 2S.9 5.96.42 6.32l12.57 15.66.01.02.01-.01z"
						></path></svg></div
				><div
					data-obj-id="GXDNe"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 277px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(255, 255, 255)"
					>
						<path fill-opacity=".3" d="M4 44h40V4z"></path>
						<path d="M34 14L4 44h30z"></path></svg></div
				><div
					data-obj-id="VFeyz"
					data-obj-type="icon"
					class=""
					style="position: absolute; top: 2px; left: 297px; width: 18px; height: 18px;"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="48"
						height="48"
						viewBox="0 0 48 48"
						data-svg-content="true"
						fill="rgb(46, 204, 113)"
					>
						<path
							d="M31.33 8H28V4h-8v4h-3.33C15.19 8 14 9.19 14 10.67v30.67c0 1.47 1.19 2.67 2.67 2.67h14.67c1.47 0 2.67-1.19 2.67-2.67V10.67C34 9.19 32.81 8 31.33 8z"
						></path></svg></div
				><div
					data-obj-id="VBuhC"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 2px; left: 313px; width: 44px; height: 20px;"
					><div
						data-text-content="true"
						style="
							font-size: 13px;
							color: rgb(255, 255, 255);
							text-align: center;
							line-height: 1.6em;
						"
						class=""
						>10:56</div
					></div
				></div
			><div
				data-obj-id="dB8yc"
				data-obj-type="icon"
				class=""
				style="position: absolute; top: 24px; left: 0px; width: 43px; height: 45px;"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="48"
					height="48"
					viewBox="0 0 48 48"
					data-svg-content="true"
					fill="#000000"
				>
					<path d="M30.83 14.83L28 12 16 24l12 12 2.83-2.83L21.66 24z"></path></svg></div
			><div
				data-obj-id="oMpdl"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 59px; left: 0px; width: 360px; height: 20px;"
				><div
					data-image-content="true"
					style="
						background-image: url(https://proxy.goorm.io/ovenapp/static/images/shape/line-horizontal.svg);
					"
				></div></div
			><div
				data-obj-id="baZ1Y"
				data-obj-type="element"
				class=""
				style="position: absolute; top: 30.5px; left: 0px; width: 43px; height: 32px;"
				data-link-to="page:5X5dK"
				><div
					data-image-content="true"
					data-invisible-link="true"
					style="border-radius: 100%;"
				></div></div
			><div
				data-obj-id="9PERT"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 435.002px;
					left: 88.0052px;
					width: 243px;
					height: 40px;
				"
				><input
					type="text"
					data-min-width="60"
					data-min-height="30"
					data-text-content="true"
					value="읍/면/동까지 입력"
					style="color: rgb(94, 94, 94);"
					class=""
					spellcheck="false"
					wtx-context="30621DE5-4841-491A-9E14-906E3B214B8A" /></div
			><div
				data-obj-id="CztfG"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 303.002px; left: 30px; width: 58px; height: 20px;"
				><div data-text-content="true" style="font-size: 16px;" class="">아이디</div></div
			><div
				data-obj-id="53NE2"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 539.347px;
					left: 0.164917px;
					width: 360px;
					height: 60px;
				"
				><div
					data-text-content="true"
					style="background-color: rgb(52, 152, 219); color: rgb(94, 94, 94);"
				></div></div
			><div
				data-obj-id="tyxmB"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 551.844px; left: 135px; width: 152px; height: 35px;"
				><div data-text-content="true" style="font-weight: bold; font-size: 25px;" class=""
					><span style="color: rgb(255, 255, 255); font-weight: normal;"
						>탈퇴하기</span
					></div
				> </div
			><div
				data-obj-id="prZqw"
				data-obj-type="group"
				class=""
				style="
					position: absolute;
					top: 113px;
					left: 110.498px;
					width: 152px;
					height: 153px;
				"
				><div
					data-obj-id="vuW3A"
					data-obj-type="element"
					data-text-editable="true"
					class=""
					style="position: absolute; top: 0px; left: 0px; width: 152px; height: 153px;"
					><div
						data-text-content="true"
						style="
							border-top-left-radius: 100%;
							border-top-right-radius: 100%;
							border-bottom-right-radius: 100%;
							border-bottom-left-radius: 100%;
							background-color: rgb(158, 158, 158);
						"
					></div
				></div>
				<div
					data-obj-id="K34a7"
					data-obj-type="icon"
					class=""
					style="
						position: absolute;
						top: 25.5px;
						left: 24.8366px;
						width: 101.333px;
						height: 102px;
					"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						id="Layer_1"
						x="0px"
						y="0px"
						width="36px"
						height="32px"
						viewBox="0 0 36 32"
						enable-background="new 0 0 36 32"
						xml:space="preserve"
						data-svg-content="true"
						preserveAspectRatio="none"
					>
						<g>
							<path
								fill="rgb(255, 255, 255)"
								d="M22.22,20.726c-0.157-0.024-0.317,0.038-0.425,0.155c-0.109,0.116-0.156,0.278-0.126,0.435   c0.276,1.45,1.205,3.44,4.057,4.679c0.338,0.146,0.86,0.26,1.522,0.403c2.478,0.536,6.622,1.434,7.64,5.232   C34.948,31.853,35.15,32,35.371,32c0.043,0,0.086-0.006,0.13-0.017c0.267-0.072,0.425-0.346,0.354-0.613   c-1.177-4.387-5.872-5.404-8.395-5.95c-0.584-0.127-1.089-0.236-1.336-0.344c-1.714-0.744-2.821-1.848-3.301-3.286   c4.762,0.354,6.918-1.543,7.013-1.629c0.118-0.107,0.179-0.266,0.161-0.425s-0.11-0.3-0.249-0.38C27,17.786,27,12.361,27,10.318   c0-5.713-3.848-10.242-8.781-10.313c-0.014-0.001-0.121-0.003-0.141-0.003c0,0,0,0-0.001,0C13.072,0.03,9,4.564,9,10.11   c0,2.043,0,7.469-2.748,9.038c-0.145,0.083-0.238,0.232-0.251,0.398c-0.012,0.166,0.06,0.328,0.191,0.431   c0.138,0.107,3.188,2.441,6.941,1.732c-0.502,1.378-1.594,2.438-3.258,3.161c-0.241,0.105-0.721,0.22-1.277,0.352   c-2.54,0.604-7.269,1.729-8.453,6.147c-0.071,0.268,0.087,0.541,0.354,0.613c0.271,0.067,0.541-0.088,0.613-0.354   c1.029-3.844,5.217-4.839,7.718-5.435c0.627-0.149,1.122-0.267,1.444-0.406c2.852-1.239,3.78-3.229,4.057-4.679   c0.033-0.173-0.027-0.351-0.159-0.467c-0.131-0.117-0.312-0.157-0.482-0.104c-2.707,0.852-5.208-0.32-6.301-0.97   C10,17.381,10,12.35,10,10.11c0-4.997,3.626-9.083,8.12-9.11c0.005,0,0.102,0.006,0.106,0.006C22.658,1.069,26,5.072,26,10.318   c0,2.241,0,7.283,2.622,9.469C27.719,20.303,25.66,21.138,22.22,20.726z"
							></path>
						</g></svg></div></div
			><div
				data-obj-id="gV1et"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 351px; left: 31.0035px; width: 58px; height: 20px;"
				><div data-text-content="true" style="font-size: 16px;" class="">나이</div></div
			><div
				data-obj-id="KT2xM"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="
					position: absolute;
					top: 397.998px;
					left: 30.0052px;
					width: 58px;
					height: 20px;
				"
				><div data-text-content="true" style="font-size: 16px;" class="">성별</div></div
			><div
				data-obj-id="CrgX3"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 445px; left: 31.0035px; width: 58px; height: 20px;"
				><div data-text-content="true" style="font-size: 16px;" class="" spellcheck="false"
					>지역</div
				></div
			><div
				data-obj-id="vPRTe"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 303px; left: 96px; width: 238px; height: 23px;"
				><div data-text-content="true" style="font-size: 14px;" class="" spellcheck="false"
					>꿈이커지는달123</div
				></div
			><div
				data-obj-id="qdUaZ"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 353px; left: 97px; width: 238px; height: 23px;"
				><div data-text-content="true" style="font-size: 14px;" class="">25세</div></div
			><div
				data-obj-id="4Q1mu"
				data-obj-type="element"
				data-text-editable="true"
				class=""
				style="position: absolute; top: 398px; left: 98px; width: 238px; height: 23px;"
				><div data-text-content="true" style="font-size: 14px;" class="">여성</div></div
			>
		</div>
		<script>
			var _tiq = "undefined" !== typeof _tiq ? _tiq : [];
			_tiq.push(["__setPageName", "webview"]);
			_tiq.push(["__trackPageview"]);
			(function (d) {
				var se = d.createElement("script");
				se.type = "text/javascript";
				se.async = true;
				se.src = location.protocol + "//m1.daumcdn.net/tiara/js/td.min.js";
				var s = d.getElementsByTagName("head")[0];
				s.appendChild(se);
			})(document);
		</script>
	</body>
</html>

